.main-banner{
    background: var(--body-bg);
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    &__img{

    }
    &__data{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}