extends ../../layout/template
include ../../includes/banner
append config
    -title = "Institucional | Sistema institucional para IEST públicas y privadas"
    -description = "Sistema institucional para IEST públicas y privadas"
    // -ogUrl = "/helpers.html"

block main
    +banner()