.nav-phone-icon {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  width: 42px;
  height: var(--headerHeight);
  line-height: var(--headerHeight);
  cursor: pointer;
}

.Header {
  --headerHeight: 50px;
  @include from(l) {
    --headerHeight: 56px;
  }
  position: relative;
  z-index: 10;
  height: var(--headerHeight);
  border-bottom: 1px solid var(--snColorBorder);
}

.Header-logo {
  line-height: var(--headerHeight);
  height: var(--headerHeight);
  display: flex;
  img {
    margin-right: 10px;
    width: 32px;
  }
  span {
    outline: none;
  }
}

.Menu {
  float: right;
  height: 48px;
  @include from(l) {
    height: 54px;
  }
  .ant-menu {
    line-height: 48px;
    @include from(l) {
      line-height: 54px;
    }
  }
  .ant-menu-horizontal {
    border-bottom: none;
  }
}

#preview {
  padding-top: 9px;
  @include from(l) {
    padding-top: 12px;
  }
  float: right;
  button {
    border-radius: 32px;
  }
}

.Header.color {
  background: var(--snColor1Dark);
  border-bottom-color: var(--snColor1Dark);
  .ant-menu {
    background: transparent;
  }
  .ant-menu-horizontal {
    a {
      color: var(--snColor1Inverse);
    }
    & > .ant-menu-item {
      &:hover {
        border-bottom-color: var(--snColor1Inverse);
      }
    }
  }
  .Header-logo{
    color: var(--snColor1Inverse);
  }
}