// 16
.SnMt16{
    margin-top: 16px;
}
.SnMb16{
    margin-bottom: 16px;
}

// 32
.SnMt32{
    margin-top: 32px;
}
.SnMb32{
    margin-bottom: 32px;
}

// 64
.SnMt64{
    margin-top: 64px;
}
.SnMb64{
    margin-bottom: 64px;
}