extends ../../layout/template
include ../../includes/banner
append config
    -title = "Institucional | Versiones"
    -description = "Lanzamiento de las nuevas versiones de"
    // -ogUrl = "/helpers.html"

block main
    .s-center
        h1 Versiones
        p= description
