header(itemscope itemtype="http://schema.org/WPHeader").main-header
    .main-header__content
        .main-header__content__brand(itemscope itemtype="http://schema.org/Organization")
            a(href="/" itemprop="url")
                img(alt="Logotipo de PaulAntezana" itemprop="logo" src="https://paulantezana.com/wp-content/uploads/2018/11/cropped-logo_white.png").main-logo
        .main-menu-container
            nav(itemscope itemtype="http://schema.org/SiteNavigationElement" role="navigation").main-menu#main-menu
                include main-menu
            .main-menu-toggle.to-l#main-menu-toggle