block link-section
    - var active = 'Introduccion';

-
    var sidebar = [
        {
            name: 'Introduccion',
            path: '/documentacion'
        },
        {
            name: 'Arquitectura',
            path: '/documentacion/arquitectura'
        },
        {
            name: 'Base de datos',
            path: '/documentacion/database'
        },
        {
            name: 'Servidor',
            path: '/documentacion/servidor'
        },
        {
            name: 'Logica de negocior',
            path: '/documentacion/logica'
        },
        {
            name: 'API',
            path: '/documentacion/api'
        },
        {
            name: 'Sitio Web',
            path: '/documentacion/sitioweb',
            children: [
                { name: 'Wordpress', path: '/documentacion/sitioweb/wordpress.html' },
                { name: 'Theme', path: '/documentacion/sitioweb/theme.html' },
                { name: 'Plugin', path: '/documentacion/sitioweb/plugin.html' },
                { name: 'Api', path: '/documentacion/sitioweb/api.html' }
            ]
        },
        {
            name: 'Admision',
            path: '/documentacion/admision',
            children: [
                { name: 'Configuración', path: '/documentacion/admision/configuracion.html' },
                { name: 'Admision', path: '/documentacion/admision/admision.html' },
                { name: 'Examen', path: '/documentacion/admision/examen.html' },
                { name: 'Reporte', path: '/documentacion/admision/reporte.html' }
            ]
        },
        {
            name: 'Revision',
            path: '/documentacion/revision',
            children: [
                { name: 'Empresa', path: '/documentacion/revision/empresa.html' },
                { name: 'Profesor', path: '/documentacion/revision/profesor.html' },
                { name: 'Revision', path: '/documentacion/revision/revision.html' },
                { name: 'Historia', path: '/documentacion/revision/historia.html' }
            ]
        },
        {
            name: 'Certificacion',
            path: '/documentacion/certificacion',
            children: [
                { name: 'Certificacion', path: '/documentacion/certificacion/certificacion.html' },
                { name: 'Cursos', path: '/documentacion/certificacion/curso.html' }
            ]
        },
        {
            name: 'Seguimiento de egresados',
            path: '/documentacion/seguimiento',
            children: [
                { name: 'Encuestas', path: '/documentacion/seguimiento/encuestas.html' },
                { name: 'Cliente', path: '/documentacion/seguimiento/cliente.html' }
            ]
        },
        {
            name: 'Biblioteca',
            path: '/documentacion/biblioteca',
            children: [
                { name: 'Libros', path: '/documentacion/biblioteca/libros.html' },
                { name: 'Cliente', path: '/documentacion/biblioteca/cliente.html' },
                { name: 'Comentarios y votaciones', path: '/documentacion/biblioteca/comentarios.html' }
            ]
        },
        {
            name: 'Alumno',
            path: '/documentacion/alumno'
        },
        {
            name: 'Chat',
            path: '/documentacion/chat'
        }
    ]

aside(itemscope="itemscope" itemtype="http://schema.org/WPSideBar" role="complementary").main-doc__aside
    .vertical-menu-toggle.to-l#vertical-menu-toggle(data-content="Filtros")
    nav(itemscope itemtype="http://schema.org/WPSideBar").vertical-menu#vertical-menu
        ul
            each item in sidebar
                li(itemprop="url")
                    a(href=item.path itemprop="name" title= "Enlace de " + item.name)= item.name
                    if item.children
                        ul
                            each itm in item.children
                                li(itemprop="url")
                                    a(href=itm.path itemprop="name" title= "Enlace de " + itm.name)= itm.name