- var title = "Sedna | Inicio"
- var description = "Documentacion del sistema institucional"
- var ogUrl = "index.html"

- var img = ""
- var title = ""
- var description = ""
- var clase = ""
- var boton = ""
- var botones = ""
