<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Send Email</title>
</head>
<body>
<div style="font-family: sans-serif !important; background: #F4F4F4; padding-top: 32px; padding-bottom: 32px;">
    <main style="color: #616161; line-height: 1.5em">
        <div style="max-width: 600px; margin-right: auto; margin-left: auto; border: 1px solid #ebedf0; padding: 42px 42px 42px; background: #FFFFFF; border-top: 4px solid #326CFE; border-radius: 5px">
            <p>Gracias por inscribirse en el proceso de admisión.</p>
        </div>
    </main>
</div>
</body>
</html>