extends ../../../layout/template
append config
    -title = "Institucional | Versiones"
    -description = "Lanzamiento de las nuevas versiones de"
    -docsMenu = true
    -ogUrl= "/documentacion"

block main
    main(itemscope itemprop="mainContentOfPage" role="main").main-doc__content
        include:markdown-it(html) ../../../../md/docs/api.md